body {
    margin: 0 auto;
    width: 1920px;
    font-family: Montserrat;
}

* {
    box-sizing: border-box;
}

.container {
    background-image: url("../bg-img/section-1(header).jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background-color: rgba(102,	101, 96, 0.8);
    height: 120px;
    padding: 0 390px;
}

.row {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.hexagon {
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #18cfab;
    margin: 46px 0;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 20px solid #18cfab;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 20px solid #18cfab;
}

.logo-h {
    font-size: 40px;
    font-weight: bold;
    color: white;
    position: absolute;
    margin: 42px 16px 0;
}

.logo-text {
    font-size: 32px;
    margin: 43px 0 45px;
    color: white;
}

.green {
    color: #18cfab;
    font-weight: bold;
}

.navigation {
    display: inline-block;
    margin: 55px 0 55px;
}

.nav-link {
    padding-right: 20px;
    font-size: 13px;
    color: #b8b8b8;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease-out;
    overflow: auto;
}

.nav-link:hover {
    color: #18cfab;
    border-color: white;
    border-bottom: 2px solid #18cfab;
    padding-bottom: 47px;
    padding-right: 0;
    margin-right: 20px;
}

.column {
    margin: 240px 390px;
    text-align: center;
    padding: 0 180px;
    /*border: 1px solid black;*/
}

.h-5 {
    color: white;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 45px;
    margin-top: 0;
}

.h-1 {
    color: white;
    text-transform: uppercase;
    font-size: 79px;
    margin-bottom: 40px;
}

.p-1 {
    color: #d4d4d4;
    font-size: 34px;
    margin-bottom: 140px;
}

.btn {
    border: 1px solid black;
    width: 165px;
    height: 60px;
    padding: 25px 30px;
    margin-right: 25px;
}

.btn-link {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.explore {
    border-color: #18cfab;
    background-color: #18cfab;
    padding: 23px 30px;
}

.purchase {
    border-color: #00cbf6;
    background-color: #00cbf6;
    padding: 23px;
}

.tab-1 {
    border: 5px solid #1c2a33;
    background-color: #1c2a33;
    width: 480px;
    height: 368px;
    position: relative;
}

.tab-top-1 {
    border: 3px solid #18cfab;
    background-color: #18cfab;
    width: 485px;
    position: absolute;
    top: -5px;
    left: -5px;
}

.tab-h-1 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18cfab;
    text-align: center;
}

.icon {
    margin: 70px 200px -20px;
    color: #18cfab;
    font-size: 110px;
}

.icon-1 {
    margin: 80px 185px -14px;
    color: white;
    font-size: 100px;
}

.tab-2 {
    border: 5px solid #18cfab;
    background-color: #18cfab;
    width: 480px;
    height: 368px;
    position: relative;
}

.tab-top-2 {
    border: 3px solid white;
    background-color: white;
    width: 485px;
    position: absolute;
    top: -5px;
    left: -5px;
}

.tab-h-2 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

/*.section-2 {*/
/*    border: 1px solid black;*/
/*}*/

.column-1 {
    /*border: 1px solid black;*/
    margin: 83px 390px 103px;
}

.h4-header {
    font-size: 36px;
    color: #4e4e4e;
    text-align: center;
}

.h4-border {
    border-top: 1px solid #18cfab;
    width: 75px;
    margin: 35px auto;
}

.extra {
    border-top: 1px solid #18cfab;
    width: 75px;
    margin: -30px auto 75px 550px;
}

#tab {
    display: flex;
}

.tab-lists {
    display: inline-block;
    border: 1px solid #ebebeb;
    width: 190px;
    height: 72px;
    margin-right: -5px;
    background-color: #f8fcfe;
    color: black;
    font-size: 16px;
    padding: 25px 30px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.tab-lists.act {
    background-color: #18cfab ;
    color: white;
}

.tab-lists.act:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin-left: -60px;
}


.tab-lists.act:after {
    top: 100%;
    width: 0;
    border-top: 10px solid #18cfab;
}

.tab-img {
    width: 195px;
    height: 140px;
    margin-left: -39px;
    margin-right: 20px;
}

.text-service {
    width: calc(100% - 195px);
    color: #777777;
    font-size: 14px;
    font-weight: lighter;
    text-align: justify;
    line-height: 2;
    display: inline-block;
}

.hide{
    display: none;
}
.show{
    display: inline-block;
}

.section-3 {
    background-image: url("../bg-img/section-2.jpg");
    height: 475px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.transparent {
    background-color: rgba(102, 101, 96, 0.5);
    width: 1920px;
    height: 475px;
    position: absolute;
    top: 0;
    padding-top: 120px;
}

.h3-header {
    font-size: 40px;
    text-transform: uppercase;
    color: #18cfab;
    text-align: center;
}

.p3-text {
    font-size: 16px;
    color: #d8d8d8;
    text-align: center;
}

.purchase1 {
    border-color: #18cfab;
    background-color: #18cfab;
    padding: 23px;
    margin: 47px 877px 120px;
}

/*.section-4 {*/
/*    border: 1px solid black;*/
/*}*/

.column-3 {
    /*border: 1px solid black;*/
    margin: 83px 390px 103px;
}

.filter-title {
    display: inline-block;
    border: 1px solid #ebebeb;
    width: 190px;
    height: 72px;
    margin-right: -5px;
    background-color: #f8fcfe;
    color: black;
    font-size: 16px;
    padding: 25px 30px;
    text-align: center;
    cursor: pointer;
}

.filter-title.active {
    color: #18cfab;
    border-top: 3px solid #18cfab;
    width: 190px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
}

.projects-item {
    width: 284px;
    height: 207px;
    margin-bottom: -2px;
}

.square:hover {
    border-top: 3px solid #18cfab;
}

.fa-link {
    border: 1px solid #18cfab;
    border-radius: 50%;
    color: #18cfab;
    margin-top: 45px;
    padding: 5px;
    margin-left: 110px;
}

.sq-icon {
    border: 1px solid #18cfab;
    background-color: #18cfab;
    border-radius: 50%;
    color: white;
    margin-left: 5px;
    margin-top: 45px;
    padding: 5px;
}

.square-header {
    font-size: 14px;
    text-align: center;
    color: #18cfab;
    font-weight: bold;
    text-transform: uppercase;
    margin: 30px 0 10px;
}

.square-text {
    font-size: 12px;
    text-align: center;
    color: #8a8a8a;
}

.load {
    border-color: #18cfab;
    background-color: #18cfab;
    padding: 23px;
    margin: 47px 486px 0;
}

.active1,
.active2 {
    display: none;
    flex-wrap: wrap;
}

.fa-plus {
    margin-right: 20px;
}

.footer {
    background-color: #22353f;
    height: 105px;
    padding-top: 30px;
}

.footer-text {
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
    color: #aeaeae;
    word-spacing: 1px;
}