*
  box-sizing: border-box

.App
  padding: 30px

.article-lists
  padding-left: 50px
  position: relative

.article-list-item
  display: inline-block
  border: 1px solid black
  border-radius: 5px
  width: 22%
  margin: 10px
  padding: 30px
  text-align: center
  text-decoration: none
  text-transform: uppercase
  color: darkgreen
  position: relative

.article-img
  width: 100%
  height: 35vh

.price-number
  margin: -20px 30px 0

.buttons
  margin-left: 60px

.homepage-head
  background-color: black
  margin: 10px
  padding: 0 30px
  border-radius: 10px

.row
  display: flex

.space-between
  justify-content: space-between

.store-name
  color: gold
  justify-content: center
  font-size: 30px
  margin-right: 780px


.navigation
  justify-content: center
  margin-top: 38px

.nav-list
  display: inline-block
  color: gold
  margin-right: 10px
  font-size: 20px
  text-decoration: none

.modal
  background-color: #e74c3c
  width: 520px
  height: 250px
  border-radius: 3px
  margin-top: -1000px
  margin-left: 350px
  position: absolute

header
  font-size: 22px
  color: white
  font-family: helvaticaNeue
  padding: 0 30px
  background-color: rgba(212, 70, 55, 1)
  display: flex
  justify-content: space-between
  align-items: center

.btn-close
  font-size: 40px
  cursor: pointer

.modal-body
  padding: 20px 90px 40px

.modal-text
  font-size: 15px
  color: white
  text-align: center
  margin-bottom: 35px

.btn
  display: inline-block
  border: none
  border-radius: 4px
  background-color: rgba(0, 0, 0, .5)
  color: white
  padding: 10px 15px
  text-align: center
  min-width: 150px
  cursor: pointer
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  max-width: 400px
  margin: 0 8px
